version: '3.8'

services:
  backend:
    image: golang:1.23-alpine
    volumes:
      - ./backend:/app
      - ./backend/uploads:/app/uploads
    command: go run ./cmd/server/main.go
    environment:
      DB_HOST: postgres
      DB_PORT: 5433
      DB_USER: postgres
      DB_PASSWORD: postgre
      DB_NAME: db-omega
      JWT_SECRET: super_secret_jwt_key
      UPLOAD_DIR: /app/uploads/images
      SERVER_PORT: 8080
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    image: node:18-alpine
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm start
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
    external: false